:root {
  --main-btn-color: #ebebeb;
  --operation-btn-color: #f58e08;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
}

main {
  width: 440px;
  height: 670px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: #777777;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.solution {
  background-color: #fff;
  height: 100px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid #000;
}

.calc-row {
  display: flex;
  justify-content: space-between;
}

button {
  transition: all 0.1s;
  border: 1px solid #000;
}

button:hover {
  border: 2px solid #000;
  font-size: 2.1rem;
}

button:active {
  font-size: 1.9rem;
  border: 3px solid #000;
  box-shadow: 1px 2px 1px #000;
}

.btn-lg {
  width: 100%;
  height: 100px;
}

.btn-sm {
  width: 100px;
  height: 100px;
  background-color: var(--main-btn-color);
}

.solution,
.btn-lg,
.btn-sm {
  font-size: 2rem;
  border-radius: 10px;
}

.btn-operation {
  background-color: var(--operation-btn-color);
}
